/*Rezolutie Laptop*/
@media (max-width: 1550px){
    .postCar-main-container{
        display: flex;
        height: 94vh;
        /* background-color: #2B2B2B; */
        background-color: hsl(0, 0%, 7%);
        justify-content: center;
        align-items: center;
    }
    .postCar-main-container .frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        width: 90%;
        border: 3px solid hsl(0, 0%, 0%);
        border-radius: 5px;
        background-color: hsl(0, 0%, 12%);
        box-shadow: 10px 20px 200px  rgb(243, 0, 0), 10px 10px 5px 8px rgb(31, 31, 31);

    }
    #label-engine-capacity{
        font-size: 1.2rem;
        margin-bottom: 2px;
    }
    #label-no-doors{
        font-size: 1.1rem;
        margin-bottom: 2px;
    }
    .frame h1{
        color: hsla(0, 4%, 92%, 0.788);
        background-color: hsl(0, 0%, 11%);
        font-size: 2.2rem;
        margin-top: 5px;
        border: 4px dashed hsl(0, 100%, 28%);
        border-radius: 5px;
        padding: 6px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 4px 4px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .frame .table{
        display: flex;
        align-items: center;
    }
    .frame .col{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 70vh;
        border: 2px solid black;
        margin: 20px;
        background-color: hsla(0, 97%, 23%, 0.534);
        /* background-color: rgb(51, 18, 18); */
        border-radius: 5px;
    }
    .frame .row{
        background-color: transparent;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
    }
    #title-label{
        background-color: transparent;
        color: hsla(0, 4%, 89%, 0.788);
        width: 300px;
        font-size: 1.4rem;
        margin-bottom: -5px;
    }
    #title-input{
        width: 300px;
    }
    #body{
        width: 130px;
    }
    #vin{
        width: 215px;
        margin-left: -20px;
    }
    .frame .row label{
        background-color: transparent;
        color: hsla(0, 4%, 89%, 0.788);
        min-width: 150px;
        max-width: 400px;
        max-height: 50px;
        font-size: 1.4rem;
        margin-bottom: -3px;
    }
    .frame .row input{
        height: 30px;
        width: 160px;
        background-color: hsl(0, 1%, 83%);
    }
    .frame .row input[type="radio"]{
        height: 20px;
        width: 20px;
        background-color: hsl(0, 1%, 83%);
        margin-left: -30px;
    }
    .frame .row select{
        height: 30px;
        width: 160px;
        background-color: hsl(0, 1%, 83%);
    }

    .frame .packet{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-bottom: 2px;
        margin-right: 10px;
    }
    .frame .col .packet .packet .row{
        width: 60px;
    }
    .frame .col .packet .packet .row label{
        margin-left: -50px;
    }
    .frame .col .packet .packet{
        border: 1px solid whitesmoke;
        margin-left: 10px;
        border-radius: 8px;
        height: 70px;
        width: 210px;
        margin-right: 5px;
    }
    .frame .col .packet .packet label{
        font-size: 1.2rem;  
    }

    .frame .imagesGrid{
        width: 350px;
        height: auto;
        max-height: 150px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: hsl(0, 2%, 12%);
        height: 200px;
        border: 2px solid black;
    }

    .frame input[type="file"]{
        width: 350px;
        height: auto;
        background-color: hsl(0, 2%, 15%);
        color: white;
        border: 2px solid black;
    }

    .frame .imagesGrid img{
        max-height: 60px;
        max-width: 80px;
    }

    .frame .imagesGrid h2{
        font-size: 1.5rem;
        text-align: center;
        color: hsl(0, 0%, 41%);
        justify-content: center;
        width: 330px;
    }

    #desc{
        resize: none;
        width: 90%;
        height: 330px;
    }
}

@media (min-width: 1550px){
    .postCar-main-container{
        display: flex;
        height: 94vh;
        /* background-color: #2B2B2B; */
        background-color: hsl(0, 0%, 7%);
        justify-content: center;
        align-items: center;
    }
    .postCar-main-container .frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        width: 90%;
        border: 3px solid hsl(0, 0%, 0%);
        border-radius: 5px;
        background-color: hsl(0, 0%, 12%);
        box-shadow: 10px 20px 200px  rgb(243, 0, 0), 10px 10px 5px 8px rgb(31, 31, 31);

    }
    .frame h1{
        color: hsla(0, 4%, 92%, 0.788);
        background-color: hsl(0, 0%, 11%);;
        margin-top: 15px;
        border: 4px dashed hsl(0, 100%, 28%);
        border-radius: 5px;
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 4px 4px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .frame .table{
        display: flex;
        align-items: center;
    }
    .frame .col{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 70vh;
        border: 2px solid black;
        margin: 20px;
        background-color: hsla(0, 97%, 23%, 0.534);
        border-radius: 5px;
    }
    .frame .col:hover{
        box-shadow: 4px 4px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .frame .row{
        background-color: transparent;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
    }
    #title-label{
        background-color: transparent;
        color: hsla(0, 4%, 89%, 0.788);
        width: 300px;
        font-size: 1.6rem;
        margin-bottom: -5px;
    }
    #title-input{
        width: 300px;
    }
    .frame .row label{
        background-color: transparent;
        color: hsla(0, 4%, 89%, 0.788);
        min-width: 150px;
        max-width: 400px;
        max-height: 50px;
        font-size: 1.6rem;
        margin-bottom: -3px;
    }
    .frame .row input{
        height: 35px;
        width: 180px;
        background-color: hsl(0, 1%, 83%);
    }
    .frame .row input[type="radio"]{
        height: 25px;
        width: 25px;
        background-color: hsl(0, 1%, 83%);
        margin-left: -10px;
    }
    .frame .row select{
        height: 35px;
        width: 180px;
        background-color: hsl(0, 1%, 83%);
    }

    .frame .packet{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-bottom: 10px;
    }
    .frame .col .packet .packet .row{
        width: 70px;
    }
    .frame .col .packet .packet .row label{
        margin-left: -35px;
    }
    .frame .col .packet .packet{
        border: 1px solid whitesmoke;
        margin-left: 10px;
        border-radius: 8px;
        height: 80px;
        width: 280px;
    }

    .frame input[type="file"]{
        width: 400px;
        height: auto;
        background-color: hsl(0, 2%, 15%);
        color: white;
        border: 2px solid black;
    }

    .frame .imagesGrid{
        width: 400px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: hsl(0, 2%, 12%);
        height: 200px;
        border: 2px solid black;
    }

    .frame .imagesGrid img{
        /* height: auto;
        width: auto; */
        max-height: 60px;
        max-width: 100px;
    }

    .frame .imagesGrid h2{
        font-size: 1.6rem;
        text-align: center;
        color: #686868;
        justify-content: center;
        width: 380px;
    }

    #desc{
        width: 90%;
        height: 400px;
    }
}

.loader {
    border: 8px solid #a7a7a7; /* Culoarea de fundal */
    border-top: 8px solid #a11919; /* Culoarea spinner-ului */
    border-radius: 50%;
    width: 50px; /* Dimensiunea spinner-ului */
    height: 50px; /* Dimensiunea spinner-ului */
    animation: spin 1s linear infinite; /* Animația de rotație */
    margin: 20px auto; /* Centrare */
    margin-top: 400px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.finished-posting-car {
    background-color: #2B2B2B;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finished-posting-car h1{
    margin-bottom: 40px;
    color: #c7c7c7;
    border: 2px solid #474545;
    padding: 10px;
}
.finished-posting-car img{
    width: auto;
    height: auto;
    max-height: 450px;
    max-width: 1100px;
    border: 3px solid black;
    box-shadow: 2px 2px 50px black;
}

.finished-posting-car button{
    margin: 40px;
    background-color: rgb(0, 150, 0);
    color: rgb(59, 59, 59);
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid hsl(0, 97%, 13%);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    height: 60px;

}