@media(max-width: 900px){
    .grid-container {
        min-width: 80%;
        border: 2px solid rgb(184, 52, 0);
        margin-right: 20px;
        margin-top: 20px;
        background-color: hsl(0, 0%, 11%);
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
        gap: 10px; /* Optional: adds space between the grid items */
        padding: 10px; /* Optional: adds padding inside the grid container */
    }

    .car-card{
        border:2px solid rgb(0, 0, 0);
        height: 320px;
        width: 290px;
        background-color: transparent;
        color:white;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }
    
    .car-card img{
        width: 285px;
    }
    
    .car-card .item{
        display: flex;
        flex-direction: column;
        height:100%;
        border-radius: 2px;
        background-color: rgb(17, 18, 20);
    }
}
@media (min-width: 900px) and (max-width: 1001px){
    .grid-container {
        min-width: 80%;
        border: 2px solid rgb(184, 52, 0);
        margin-right: 20px;
        margin-top: 20px;
        background-color: hsl(0, 0%, 11%);
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
        gap: 10px; /* Optional: adds space between the grid items */
        padding: 10px; /* Optional: adds padding inside the grid container */
    }

    .car-card{
        border:2px solid rgb(0, 0, 0);
        height: 330px;
        width: 290px;
        background-color: transparent;
        color:white;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }
    
    .car-card img{
        width: 285px;
    }
    
    .car-card .item{
        display: flex;
        flex-direction: column;
        height:100%;
        border-radius: 2px;
        background-color: rgb(17, 18, 20);
    }
}
@media (min-width: 1001px) and (max-width: 1300px){
    .grid-container {
        min-width: 80%;
        border: 2px solid rgb(184, 52, 0);
        margin-right: 20px;
        margin-top: 20px;
        background-color: hsl(0, 0%, 11%);
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        padding: 10px; 
    }

    .car-card{
        border:2px solid rgb(0, 0, 0);
        height: 320px;
        width: 265px;
        background-color: transparent;
        color:white;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }
    
    .car-card img{
        width: 250px;
        
    }
    
    .car-card .item{
        display: flex;
        flex-direction: column;
        height:100%;
        border-radius: 2px;
        background-color: rgb(17, 18, 20);
    }
}

@media (min-width: 1301px) and (max-width: 1549px) {
    .grid-container {
        min-width: 80%;
        border: 2px solid rgb(184, 52, 0);
        margin-right: 20px;
        margin-top: 20px;
        background-color: hsl(0, 0%, 11%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 10px; 
    }

    .car-card{
        border:2px solid rgb(0, 0, 0);
        height: 350px;
        width: 265px;
        background-color: transparent;
        color:white;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }
    
    .car-card img{
        width: 263px;
        height: auto;
        max-height: 240px;
    }
    
    .car-card .item{
        display: flex;
        flex-direction: column;
        height:100%;
        border-radius: 2px;
        background-color: rgb(17, 18, 20);
    }
}

@media (min-width: 1550px) {
    .grid-container {
        min-width: 80%;
        border: 2px solid rgb(184, 52, 0);
        margin-right: 20px;
        margin-top: 20px;
        background-color: hsl(0, 0%, 11%);
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        gap: 10px; 
        padding: 10px; 
    }

    .car-card{
        border:2px solid rgb(0, 0, 0);
        height: 400px;
        width: 290px;
        background-color: transparent;
        color:white;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
    }
    
      
    .car-card img{
        width: 100%;
        max-height: 270px;
        height: auto;
        image-resolution: 300dpi;
    }
    
    .car-card .item{
        display: flex;
        flex-direction: column;
        height:100%;
        border-radius: 2px;
        background-color: rgb(17, 18, 20);
    }
}
.grid-container .noCars p{
    font-size: 3rem;
    text-align: center;
}
.grid-container .noCars{
    width: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 8px solid #a7a7a7; 
    border-top: 8px solid #a11919;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    animation: spin 1s linear infinite; 
    margin: 20px auto;
    margin-top: 400px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

